@charset "utf-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,acronym,select,address,big,cite,code,del,dfn,em,ins,kbd,q,s,input,textarea,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{border:0;font-size:100%;font:inherit;vertical-align:baseline;outline:none;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;margin:0;padding:0;box-sizing:border-box;line-height:36px;}
body{overflow:auto;overflow-x:hidden!important;overflow-y:auto!important;}
html,body{height:100%;}
body,input,button{-webkit-appearance:none;border-radius:0;font-family:"Microsoft Yahei",宋体,Tahoma,Helvetica,Arial,SimSun,sans-serif;color:#000;font-size:15px;line-height:1;}
.table_list_tool input,.submit_save,.small_form .button,.admin_page_name a,.wmd-fieldbutton,#upload #submit{line-height:26px;padding:0 16px;background:#eee;}
.table_list_tool input:hover,.small_form .button:hover,.submit_save:hover,.small_form .button:hover,.admin_page_name a:hover,.wmd-fieldbutton:hover,#upload #submit:hover{background:#27a;color:#fff;cursor:pointer;}
.small_form .button{padding:4px 20px;}
.wmd-fieldbutton,.submit_save,.small_form .button,.admin_page_name a,#upload #submit{background:#27a!important;color:#fff!important;}
.wmd-fieldbutton:hover,.submit_save:hover,.small_form .button:hover,.admin_page_name a:hover,#upload #submit:hover{background:#046!important;}
br{display:block;line-height:1.6em;}
ol,ul,li{list-style:none;}
input,textarea,button{-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;outline:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
strong,b{font-weight:bold;}
em,i{font-style:italic;}
table{border-collapse:collapse;border-spacing:0;}
a{color:#666;text-decoration:none;}
a:hover{color:#27a;}
img{border:0;max-width:100%;}
select{border:solid 1px #eee;border-radius:0;padding:2px 4px;}
.clear{clear:both;height:0;font-size:0;border:none;margin:0;padding:0;}
#menu{width:100%;background:#fff;position:relative;margin:0 auto;border-bottom:1px solid #eee;}
#menu *{line-height:46px;}
#menu_title{font-size:22px;font-weight:lighter;float:left;}
#menu ul{float:right;}
#menu li{display:inline-block;}
#menu ul a{font-size:16px;display:block;padding:0 20px;position:relative;}
#menu .current a:after,#menu li a:hover:after {content: "";position: absolute;height: 3px;background: #27a;width: 100%;left: 0;bottom:-1px;}
#menu .current a,#menu li a:hover{color:#27a;}
#submenu{border-bottom:solid 1px #e0e0e0;}
#submenu li{float:left;}
#submenu li a{display:block;background:#f0f0f0;border:solid 1px #e0e0e0;text-decoration:none;color:#426DC9;margin:6px 0 6px 6px;padding:6px 18px;}
#content{max-width:900px;margin:auto;padding:0 10px;}
#content_box{padding:20px 0;}
#footer{color:#888;width:100%;font-size:13px;margin:0 auto;padding:30px 0;text-align:center;border-top:1px solid #eee}
.link_button{background:#efefef;font-size:13px;margin-right:4px;padding:4px 8px;}
.link_button:hover,.link_button.current{background:#27a;color:#fff;}
.table_list table{width:100%;border:solid 1px #fafafa;}
.table_list td{border-top:solid 1px #fafafa;vertical-align:top;padding:4px;font-size:13px;}
.table_list thead td,.table_list tfoot td{background: #fafafa;}
.table_list tbody tr div{margin:0;padding:0;}
.row_tool{background:#fafafa;}
.table_list .row_name{font-size:16px;margin:0 20px 0 0;float:left;}
.table_list .row_tool{float:left;}
.table_list td .row_tool{display:none;background:none}
.table_list td:hover .row_tool{display:block;}
.table_list .row_tool a{background:none;color:#27a;padding:0;margin:0 20px 0 0;}
.table_list_tool span{margin-right:20px;}
.table_list_tool{color:#333;}
.table_list{padding:6px 0;}
.post_mode_link{padding:0;}
.post_mode_link span{color:#666;}
.table_list_tool .pager{float:right;margin-right:0;color:#666;font-size:12px;}
.table_list_tool .pager .link_button{padding:4px 10px;}
.table_list_tool .pager input{width:26px;font-size:12px;text-align:center;}
#page_input_2{padding: 0;background: none;color: #333;cursor:text;}
div.updated,.message,div.error{background:#dfc;border:1px solid #ae9;margin-bottom:20px;padding:0 10px;border-radius:2px;}
div.error{background:#FFFFE0;border:1px solid #fa7;}
.admin_page_name{font-size:18px;margin-bottom:4px;color:#333;line-height:20px;padding:0 0 12px 0;border-bottom:2px solid #ddd;}
.admin_page_name a{float:right;margin:0;}
.small_form .name{font-size:16px;font-weight:700;color:#333;}
.small_form .label{color:#333;padding-bottom:4px;}
.small_form .field{margin-top:20px;}
.small_form .textbox{width:100%;border:solid 1px #eee;padding:6px 10px;}
.small_form .info{color:#666;font-size:13px;margin:0 0 0 10px;line-height:28px!important;}
.small_form2 .label{/*float:left;width:100px;*/}
.small_form2 .textbox{/* max-width: 400px;float:left; */max-width:40%;margin:0 0 0 10px;border-radius:3px;}
.small_form textarea.textbox{max-width:80%;height:120px;}
.small_form2 .field_body{width: 300px;}
.small_form2 .info {/*width:300px;float:left;margin-left:40px;*/}
.edit_textbox{width:100%;border:solid 1px #ddd;line-height:40px;padding:0 10px;}
.edit_textarea{height:300px;width:100%!important;font-size:13px;border:solid 1px #ddd;padding:10px;overflow-x:visible;overflow-y:visible;line-height: 1.5;font-size: 100%;font-family: Menlo,Monaco,Consolas,"Courier New",monospace;resize: none;}
.wmd-input{display:block;clear:left;}

div.wmd-toolbar{width:100%;border:1px solid #ddd;border-bottom:0;overflow:hidden;padding:8px 10px;}
ul.wmd-toolbar li{padding:2px;}
ul.wmd-toolbar li:hover{background:#eee;cursor:pointer;}
.wmd-dialog{background:#fff;border-radius:3px;position:fixed!important;left:50%;top:50%!important;height:180px;width:400px;margin:-90px 0 0 -200px;}
.wmd-form fieldset{border:none;margin:10px 20px;padding:0;}
.wmd-legend{font-size:1.2em;font-weight:bold;}
.wmd-legend p{color:#666;font-family:Verdana,Arial,Helvetica,Geneva,SunSans-Regular,sans-serif;font-size:.533em;margin:0;}
.wmd-fieldbutton,.wmd-field a{border-radius:3px;font-size:14px;cursor:pointer;color:#333;margin:10px 10px 0 0;background:#ddd;display:inline-block;width:80px;line-height:30px;text-align:center}
.wmd-fieldbutton:hover,.wmd-field a:hover{background:#aaa;color:#fff;}
.wmd-fieldlabel{display:block;font-size:.9em;margin-bottom:.25em;}
.wmd-fieldlabel em{color:red;}
.wmd-fieldinput{font-size:100%;}
input.wmd-fieldinput,textarea.wmd-fieldinput{width:100%;border: 1px solid #D9D9D6;border-radius: 2px;padding: 7px;}
.wmd-fielderror{background:#FFDFDF;border:1px solid #F9B9B2;}
.wmd-fielderror .wmd-fieldlabel{color:#DF0000;}
.wmd-fieldreason{color:red;font-size:.65em;font-weight:700;}
.wmd-command{list-item-type:none;display:block;float:left;margin-right:5px;}
.wmd-command span{display:block;width:20px;height:20px;background:url(images/wmd-toolbar.png) no-repeat;font-size:0;}
.wmd-spacer{width:1px;height:16px;margin:4px 9px 0 4px;}
.wmd-spacer span{width:1px;border:none;background:#ddd;height:16px;margin:-2px 0 0;}
.wmd-strong span{background-position:0 0;}
.wmd-em span{background-position:-20px 0;}
.wmd-a span{background-position:-40px 0;}
.wmd-blockquote span{background-position:-60px 0;}
.wmd-code span{background-position:-80px 0;}
.wmd-img span{background-position:-100px 0;}
.wmd-ol span{background-position:-120px 0;}
.wmd-ul span{background-position:-140px 0;}
.wmd-h span{background-position:-160px 0;}
.wmd-hr span{background-position:-180px 0;}
html,body,form{margin:0;padding:0;}
#menu ul,#menu li,#submenu ul,#submenu li{list-style:none;margin:0;padding:0;}
ul.wmd-toolbar,.wmd-form{margin:0;padding:0;}

body.view,body.type{overflow:hidden!important;}
#editor{position:relative;}
#editor .wmd-view,#editor .wmd-type{position:relative;position:absolute;top:9px;right:8px;width:20px;height:20px;padding:2px;background:url(images/wmd-toolbar.png) no-repeat;font-size:0;cursor:pointer;display:block;}
#editor .wmd-type{right:40px;background-position:-238px 2px!important;}
#editor .wmd-view{right:10px;background-position:-298px 2px!important;}
#editor .wmd-view:hover,#editor .wmd-type:hover{background:#eee url(images/wmd-toolbar.png) no-repeat;}
#editor .wmd-off{display:none;}
.type #editor .wmd-off,.view #editor .wmd-off{display:block;position:absolute;color:#fff;width:20px;height:20px;padding:2px;background:url(images/wmd-toolbar.png) no-repeat -258px 2px;font-size:0;cursor:pointer;top:14px;right:20px;z-index:9;}
.type .annex{top:13px;right:60px;}
.type #editor .wmd-off:hover,.view #editor .wmd-off:hover{background:#eee url(images/wmd-toolbar.png) no-repeat -258px 2px;}
.view #editor .wmd-off{position:fixed;background:#eee url(images/wmd-toolbar.png) no-repeat -258px 2px;border-radius:3px;}
.view #editor .wmd-off:hover{background:#666 url(images/wmd-toolbar.png) no-repeat -258px -18px;}
.type #editor .wmd-view,.type #editor .wmd-type{display:none;}
.type #editor .left{width:50%;float:left;}
.type #editor .left .wmd-input{padding:18px;border-right:1px solid #ddd;height:90vh}
.type #editor .right{width:50%;float:right;}
.type #editor .right #preview{display:block;overflow:auto;padding:10px 20px;height: 90vh;}
.type #editor{width:100%;margin:0 auto;position:fixed;background:#fff;top:0;bottom:0;left:0;right:0;z-index:9;overflow: auto;}
.type #editor *{border:0;}
.type #toolbar{padding:14px;border-bottom:1px solid #ddd;}

.view:before,.type:before{content: "";top:0;bottom:0;left:0;right:0;position: fixed;background:#fff;z-index:1;}
.view #preview{top:0;bottom:0;left:20px;right:0;max-width:900px;margin:53px auto 0;position: fixed;z-index:9;display:block;overflow:auto;}
.view .edit_view{position:fixed;z-index:9;top:12px;border:0;border-bottom:1px solid #ddd;max-width:900px;}

.wmd-preview{background:#FFF;word-wrap:break-word;padding:10px;border-top:0;display:none;}
.wmd-preview img{max-width:100%;height:auto;margin:10px auto;display:block;}
.wmd-preview embed{max-width:100%;margin:10px auto;display:block;}
.wmd-preview a {text-decoration:none;}
.wmd-preview p a{background:#eee;border-radius:3px;padding:2px 4px;}
.wmd-preview p a:hover{background:#ddd;}
.wmd-preview h1,.wmd-preview h2,.wmd-preview h3,.wmd-preview h4,.wmd-preview h5,.wmd-preview h6{margin:16px 0;text-indent:0;color:#333;font-weight:bold;}
.wmd-preview h1{font-size:24px;line-height:28px;}
.wmd-preview h2{font-size:20px;line-height:24px;}
.wmd-preview h3{font-size:18px;line-height:22px;}
.wmd-preview h4{font-size:16px;line-height:18px;}
.wmd-preview h5{line-height:18px;font-size:12px;}
.wmd-preview h6{line-height:18px;font-size:11px;}
.wmd-preview blockquote{text-indent:0;border-left:3px solid #333;margin:30px 0;padding:10px 30px}
.wmd-preview ol,.wmd-preview ul{padding:10px 40px;background:#eee;}
.wmd-preview ol p,.wmd-preview ul p{text-indent:0!important;}
.wmd-preview ol li{list-style-type:decimal;text-indent:0;}
.wmd-preview ul li{list-style-type:disc;text-indent:0;}
.wmd-preview strong{font-weight:bold;}
.wmd-preview hr{border:none;height:2px;background:#ddd;margin:20px 40%;}
.wmd-preview pre{padding:0 20px;white-space:pre-wrap;word-wrap:break-word;font:14px/22px 'courier new';position:relative;margin:10px 0;background-color:#eee;text-indent:0em;}
.wmd-preview pre:before,.wmd-preview pre:after{display:block;padding-top:10px;padding-bottom:10px;color:#2f76bb;}
.wmd-preview pre:before{content:"-- [ CODE ] --"}
.wmd-preview pre:after{content:"-- [ EOF ] --";text-align:right}
.wmd-preview code{padding:2px;background:#ddd;font:14px/26px 'courier new';border-radius:3px;margin:0 4px;}
.wmd-preview pre code{display:block;background:none;text-indent:0em;margin:0;overflow:auto;max-height:240px;}
.wmd-preview table{border-bottom:1px solid #504F4F;border-right:1px solid #504F4F;border-collapse:collapse;border-spacing:0;margin:0 0 20px;width:100%;}
.wmd-preview th{font-size:14px;font-weight:bold;}
.wmd-preview th,.wmd-preview td{border-top:1px solid #504F4F;padding:6px 10px 6px 6px;border-left:1px solid #504F4F;}
.wmd-preview dl{margin:0 20px;}
.wmd-preview dt {font-weight:bold;}
.wmd-preview dd {margin:0 0 20px;}

#upload{width:360px;}
#upload #input_type,#upload .ipt_text{width:100%;padding:8px 10px;margin:0 0 10px 0;border:1px solid #eee;border-radius:3px;}
#upload .up_form{position:relative;width:100%;margin:6px 0 10px 0;}
#upload .up_form:before{content: "[ 选择文件 ]";font-size:12px;left:8px;top:-11px;background:#fff;color: #333;z-index:1;line-height:20px;padding:0 4px;border-radius:3px;position: absolute;}
#upload .ipt_text{width:260px;vertical-align:middle;float:left;margin:1px 10px 0 0;cursor:pointer;background:#fafafa;}
#upload:hover .ipt_text{background: #f5f5f5;border-color: #ccc;z-index:-9;}
#upload #submit{width:90px;padding:9px 10px;border-radius:3px;vertical-align: middle;line-height:20px;}
#upload .up_file{position:absolute;left:0;top:0;bottom:0;right:0;width:260px;opacity:0;filter:alpha(opacity:0);cursor:pointer;}

.annex{background:url('images/icons.png') 1px -23px no-repeat;font-size:0;display:block;width:24px;height:24px;padding:1px;cursor:pointer;position:absolute;right:80px;top:8px;border-radius:3px;}
.annex:hover{background:#eee url('images/icons.png') 1px 1px no-repeat;}
.annex_wind{display:none;position:relative;border-radius:3px;}
.annex_body:before{content:"";background:#000;opacity: 0.5;top:0;bottom:-10px;left:0;right:0;z-index:10;position:absolute}
.annex_body .annex_wind{display:block;position:fixed;background:#fff;width:400px;height:200px;padding:20px 20px 0 20px;top:50%;left:50%;margin:-98px -200px;z-index:11;}
.annex_body .annex_wind iframe{width:100%;height:100%;margin:-10px 0 0 0;padding:0;background:#fff;}
.annex_body .annex_off{font-size:22px;position:absolute;width:30px;line-height:30px;text-align:center;top:-10px;right:-10px;background:#f55;color:#fff;cursor:pointer;border-radius:100%;}

.tabs{position:relative;padding:36px 0 0 0;}
.tabs:before{content:"";position:absolute;width:100%;height:2px;background:#27a;}
.tabs li{width:100%;}
.tabs input[type=radio]{position:absolute;top:-9999px;left:-9999px;}
.tabs label{display:block;width:100px;text-align:center;font-size:16px;background:#eee;cursor:pointer;position:relative;}
.tabs label:hover{background:#ddd;}
.tabs .tab-content{display:none;font-size:15px;width:100%;background:#fff;padding:0 14px;font-size:16px;}
.tabs .label{/*float:left;width:100px;*/border-left:3px solid #27a;line-height:16px;padding:0 10px;margin:12px 0;}
.tabs [id^=tab]:checked + label{background:#27a;color:#fff;}
.tabs .tab_buttom{width:100px;top:0;position:absolute!important;}
.tabs .tab_buttom1{left:0px;}
.tabs .tab_buttom2{left:110px;}
.tabs .tab_buttom3{left:220px;}
.tabs .tab_buttom4{right:0;}
.tabs [id^=tab]:checked ~ [id^=tab-content]{display:block;}
.tabs .field_body{width:100%;text-align:left;margin:0 0 0 25px;padding:10px 0;}
.tabs .field_body input{width:20%;border-radius:3px;}



#login_title:before{content:"";background:#fcfcfc;top:0;bottom:0;left:0;right:0;z-index:10;position:fixed;z-index:-2;}
#login_title {text-align:center;width:360px;padding:100px 0 0 0;margin:auto;font-size:36px;}
#login_form {width:360px;margin:20px auto 0;border:solid 1px #f6f6f6;box-shadow: 0 12px 10px -10px #aaa;background:#fff;}
#login_form_box {padding:20px; }
#login_form .textbox input {border:none; padding:0; width:100%; color:#333;line-height:36px;padding:2px 10px; }
#login_form .textbox {border:1px solid #f6f6f6; margin-bottom:20px;}
#login_form .bottom {text-align:center;}
#login_form .button {padding:0 16px;background:#27a;color:#fff;width:120px;line-height:42px;cursor:pointer;}
#login_form .button:hover{background:#046;}