@charset "utf-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,acronym,select,address,big,cite,code,del,dfn,em,ins,kbd,q,s,input,textarea,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{border:0;font-size:100%;font:inherit;vertical-align:baseline;outline:none;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;margin:0;padding:0;box-sizing:border-box;line-height:36px;}
body{overflow:auto;overflow-x:hidden!important;overflow-y:auto!important;}
html,body{height:100%;}
body,input,button{border-radius:0;font-family:"Microsoft Yahei",宋体,Tahoma,Helvetica,Arial,SimSun,sans-serif;color:#000;font-size:15px;line-height:1;}
body,button{-webkit-appearance:none;}
.table_list_tool input,.submit_save,.small_form .button,.admin_page_name a,.wmd-fieldbutton,#upload #submit{line-height:24px;padding:0 16px;background:#eee;border-radius:3px;}
.table_list_tool input:hover,.small_form .button:hover,.submit_save:hover,.small_form .button:hover,.admin_page_name a:hover,.wmd-fieldbutton:hover,#upload #submit:hover{background:#2ae;color:#fff;cursor:pointer;}
.small_form .button{padding:4px 20px;}
.wmd-fieldbutton,.submit_save,.small_form .button,.admin_page_name a,#upload #submit{background:#2ae!important;color:#fff!important;}
.wmd-fieldbutton:hover,.submit_save:hover,.small_form .button:hover,.admin_page_name a:hover,#upload #submit:hover{background:#3cf!important;}
br{display:block;line-height:1.6em;}
ol,ul,li{list-style:none;}
input,textarea,button{-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;outline:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
strong,b{font-weight:bold;}
em,i{font-style:italic;}
table{border-collapse:collapse;border-spacing:0;}
a{color:#666;text-decoration:none;}
a:hover{color:#2ae;}
img{border:0;max-width:100%;}
select{border:solid 1px #eee;border-radius:0;padding:2px 4px;}
.clear{clear:both;height:0;font-size:0;border:none;margin:0;padding:0;}
#content{max-width:960px;margin:auto;overflow:hidden;background:#fff}

/* Menu */
#menu{width:220px;float:left;}
#menu:before{content:'';position:absolute;top: 72px;left:0;width:100%;height:1px;background:#eee;}
#menu_title{font-size:22px;line-height:72px;margin:0 0 20px 0;text-align:center;}
#menu ul{width:100%;text-align:center;}
#menu ul a{display:block;width:100%;position:relative;line-height:46px;margin:0 0 10px 0;background:#fff;}
#menu .current a:after{content:'';height:100%;width:2px;position:absolute;right:-1px;background: #2ae;}
#menu .current a,#menu li a:hover{color:#2ae;background:#f6f6f6;}

#content_box{width:740px;float:right;border-left:1px solid #eee;padding:18px 20px;}

#submenu{border-bottom:solid 1px #e0e0e0;}
#submenu li{float:left;}
#submenu li a{display:block;background:#f0f0f0;border:solid 1px #e0e0e0;text-decoration:none;color:#426DC9;margin:6px 0 6px 6px;padding:6px 18px;}

.link_button{background:#efefef;font-size:13px;margin:0 0 10px 0;padding:4px 15px;border-radius:100px;}
.link_button:hover,.link_button.current{background:#2ae;color:#fff;}
.table_list table{width:100%;border:solid 1px #fafafa;}
.table_list td{border-top:solid 1px #fafafa;vertical-align:top;padding:4px;font-size:13px;}
.table_list thead td,.table_list tfoot td{background: #fafafa;}
.table_list tbody tr div{margin:0;padding:0;}
.row_tool{background:#fafafa;}
.table_list .row_name{font-size:16px;margin:0 20px 0 0;float:left;}
.table_list .row_tool{float:left;}
.table_list td .row_tool{display:none;background:none}
.table_list td:hover .row_tool{display:block;}
.table_list .row_tool a{background:none;color:#2ae;padding:0;margin:0 20px 0 0;}
.table_list_tool span{margin-right:20px;}
.table_list_tool{color:#333;}
.table_list{padding:6px 0;}
.post_mode_link{margin:0 0 10px 0;}
.post_mode_link span{color:#666;}
.table_list_tool .pager{float:right;margin-right:0;color:#666;font-size:12px;}
.table_list_tool .pager .link_button{padding:4px 10px;}
.table_list_tool .pager input{width:26px;font-size:12px;text-align:center;}
#page_input_2{padding: 0;background: none;color: #333;cursor:text;}
.updated,.message,.error{background:#dfc;border:1px solid #ae9;padding:0 10px;position:fixed;top:17px;right:18px;z-index:99;border-radius:2px;}
.error{background:#FFFFE0;border:1px solid #fda;}
.message{background: #E0FCFF;border: 1px solid #AADCFF;}
.admin_page_name{font-size:18px;color:#333;padding:0 0 32px 0;}
.admin_page_name a{float:right;margin:5px 0 0 0;border-radius:100px;}

.small_form .name{font-size:16px;font-weight:700;color:#333;}
.small_form .label{color:#333;padding-bottom:4px;}
.small_form .field{margin-top:12px;}
.small_form .textbox{width:100%;border:solid 1px #eee;padding:8px 10px;}
.small_form .info{color:#aaa;font-size:13px;margin:0 0 0 10px;line-height:25px}
.small_form .info code{line-height:20px}
.small_form2 .textbox{max-width:300px;margin:0 0 0 10px;border-radius:3px;}
.small_form2 .textbox:focus{border:1px solid #2ae;}
.small_form2 .textbox[disabled=disabled]{background:#fafafa;}
.small_form textarea.textbox{max-width:80%;height:120px;line-height:20px;font-size:13px;color:#666}
.small_form2 .field_body{width: 300px;}

/* 编辑器 */
.edit_textbox{width:100%;line-height:36px;margin:0 0 20px;padding:0 10px;}
.edit_textbox[name=tags],.edit_textbox[name=path]{box-shadow:0 0 0 1px #eee;border-radius:3px;}
.edit_textbox:focus,.edit_textbox:focus{box-shadow:0 0 0 1px #2ae;border-radius:2px}
.edit_textarea{height:300px;width:100%!important;font-size:13px;border:solid 1px #eee;padding:10px;overflow-x:visible;overflow-y:visible;line-height: 1.5;font-size: 100%;font-family: Menlo,Monaco,Consolas,"Courier New",monospace;resize: none;}
.wmd-input{display:block;clear:left;border-radius:0 0 3px 3px;}
/* 编辑器按钮 */
div.wmd-toolbar{width:100%;border:1px solid #eee;border-bottom:0;overflow:hidden;padding:8px 10px;border-radius:3px 3px 0 0;}
ul.wmd-toolbar li{padding:2px;}
ul.wmd-toolbar li:hover{background:#eee;cursor:pointer;}
.wmd-dialog{background:#fff;border-radius:3px;position:fixed!important;left:50%;top:50%!important;height:180px;width:400px;margin:-90px 0 0 -200px;}
.wmd-form fieldset{border:none;margin:10px 20px;padding:0;}
.wmd-legend{font-size:1.2em;font-weight:bold;}
.wmd-legend p{color:#666;font-family:Verdana,Arial,Helvetica,Geneva,SunSans-Regular,sans-serif;font-size:.533em;margin:0;}
.wmd-fieldbutton,.wmd-field a{border-radius:3px;font-size:14px;cursor:pointer;color:#333;margin:10px 10px 0 0;background:#ddd;display:inline-block;width:80px;line-height:30px;text-align:center}
.wmd-fieldbutton:hover,.wmd-field a:hover{background:#aaa;color:#fff;}
.wmd-fieldlabel{display:block;font-size:.9em;margin-bottom:.25em;}
.wmd-fieldlabel em{color:red;}
.wmd-fieldinput{font-size:100%;}
input.wmd-fieldinput,textarea.wmd-fieldinput{width:100%;border: 1px solid #D9D9D6;border-radius: 2px;padding: 7px;}
.wmd-fielderror{background:#FFDFDF;border:1px solid #F9B9B2;}
.wmd-fielderror .wmd-fieldlabel{color:#DF0000;}
.wmd-fieldreason{color:red;font-size:.65em;font-weight:700;}
.wmd-command{list-item-type:none;display:block;float:left;margin-right:5px;}
.wmd-command span{display:block;width:20px;height:20px;background:url(static/toolbar.png) no-repeat;font-size:0;}
.wmd-spacer{width:1px;height:16px;margin:4px 10px 0 4px;}
.wmd-spacer span{width:1px;border:none;background:#ddd;height:16px;margin:-2px 0 0;}
.wmd-strong span{background-position:0 0;}
.wmd-em span{background-position:-20px 0;}
.wmd-a span{background-position:-40px 0;}
.wmd-blockquote span{background-position:-60px 0;}
.wmd-code span{background-position:-80px 0;}
.wmd-img span{background-position:-100px 0;}
.wmd-ol span{background-position:-120px 0;}
.wmd-ul span{background-position:-140px 0;}
.wmd-h span{background-position:-160px 0;}
.wmd-hr span{background-position:-180px 0;}
/* 新增按钮 */
#editor{position:relative;}
#editor .wmd-view,#editor .wmd-type{position:relative;position:absolute;top:9px;right:8px;width:20px;height:20px;padding:2px;background:url(static/toolbar.png) no-repeat;font-size:0;cursor:pointer;display:block;}
#editor .wmd-type{right:40px;background-position:-278px 2px!important;}
#editor .wmd-view{right:10px;background-position:-238px 2px!important;}
#editor .wmd-view:hover,#editor .wmd-type:hover,.type #editor .wmd-off:hover,.view #editor .wmd-off:hover,.view #editor .wmd-off:hover{background-color:#eee;}
#editor .wmd-off{display:none;}

/* 全屏预览 */
.type #editor .wmd-off,.view #editor .wmd-off{display:block;position:absolute;color:#fff;width:20px;height:20px;padding:2px;background:url(static/toolbar.png) no-repeat -258px 2px;font-size:0;cursor:pointer;top:14px;right:20px;z-index:9;}
.type .annex{top:14px;right:60px;}
.view #editor .wmd-off{position:fixed;background:url(static/toolbar.png) no-repeat -258px 2px;border-radius:3px;}
.type #editor .wmd-view,.type #editor .wmd-type{display:none;}
.type #editor .left{width:50%;float:left;}
.type #editor .left .wmd-input{padding:18px;border-right:1px solid #ddd;height:90vh}
.type #editor .right{width:50%;float:right;}
.type #editor .right #preview{display:block;overflow:auto;padding:10px 20px;height: 90vh;}
.type #editor{width:100%;margin:0 auto;position:fixed;background:#fff;top:0;bottom:0;left:0;right:0;z-index:9;overflow: auto;}
.type #editor *{border:0;}
.type #toolbar{padding:14px;border-bottom:1px solid #ddd;}
.view:before,.type:before{content: "";top:0;bottom:0;left:0;right:0;position: fixed;background:#fff;z-index:1;}
.view #preview{top:0;bottom:0;left:20px;right:0;max-width:800px;margin:53px auto 0;position: fixed;z-index:9;display:block;overflow:auto;}
.view .edit_view{position:fixed;z-index:9;top:0;left:0;text-align:center;line-height:52px;border-bottom:1px solid #eee;background:none;box-shadow:none;border-radius:0;}

/* 格式预览 */
.wmd-preview{background:#FFF;word-wrap:break-word;padding:10px;border-top:0;display:none;}
.wmd-preview img{max-width:100%;height:auto;margin:10px auto;display:block;}
.wmd-preview embed{max-width:100%;margin:10px auto;display:block;}
.wmd-preview a {text-decoration:none;}
.wmd-preview p a{background:#eee;border-radius:3px;padding:2px 4px;}
.wmd-preview p a:hover{background:#ddd;}
.wmd-preview h1,.wmd-preview h2,.wmd-preview h3,.wmd-preview h4,.wmd-preview h5,.wmd-preview h6{margin:16px 0;text-indent:0;color:#333;font-weight:bold;}
.wmd-preview h1{font-size:24px;line-height:28px;}
.wmd-preview h2{font-size:20px;line-height:24px;}
.wmd-preview h3{font-size:18px;line-height:22px;}
.wmd-preview h4{font-size:16px;line-height:18px;}
.wmd-preview h5{line-height:18px;font-size:12px;}
.wmd-preview h6{line-height:18px;font-size:11px;}
.wmd-preview blockquote{text-indent:0;border-left:3px solid #333;margin:30px 0;padding:10px 30px}
.wmd-preview ol,.wmd-preview ul{padding:10px 40px;background:#eee;}
.wmd-preview ol p,.wmd-preview ul p{text-indent:0!important;}
.wmd-preview ol li{list-style-type:decimal;text-indent:0;}
.wmd-preview ul li{list-style-type:disc;text-indent:0;}
.wmd-preview strong{font-weight:bold;}
.wmd-preview hr{border:none;height:2px;background:#ddd;margin:20px 40%;}
.wmd-preview pre{padding:1em;white-space:pre-wrap;word-wrap:break-word;font:14px/22px 'courier new';position:relative;margin:10px 0;background-color:#f6f6f6;text-indent:0em;}
.wmd-preview code{padding:2px;background:#ddd;font:14px/26px 'courier new';border-radius:3px;margin:0 4px;}
.wmd-preview pre code{display:block;background:none;text-indent:0em;margin:0;overflow:auto;max-height:240px;}
.wmd-preview table{border-bottom:1px solid #504F4F;border-right:1px solid #504F4F;border-collapse:collapse;border-spacing:0;margin:0 0 20px;width:100%;}
.wmd-preview th{font-size:14px;font-weight:bold;}
.wmd-preview th,.wmd-preview td{border-top:1px solid #504F4F;padding:6px 10px 6px 6px;border-left:1px solid #504F4F;}
.wmd-preview dl{margin:0 20px;}
.wmd-preview dt {font-weight:bold;}
.wmd-preview dd {margin:0 0 20px;}

/* 上传控件 */
#upload{width:360px;}
#upload #input_type,#upload .ipt_text{width:100%;padding:8px 10px;margin:0 0 10px 0;border:1px solid #eee;border-radius:3px;}
#upload .up_form{position:relative;width:100%;margin:6px 0 10px 0;}
#upload .up_form:before{content: "[ 选择文件 ]";font-size:12px;left:8px;top:-11px;background:#fff;color: #333;z-index:1;line-height:20px;padding:0 4px;border-radius:3px;position: absolute;}
#upload .ipt_text{width:260px;vertical-align:middle;float:left;margin:1px 10px 0 0;cursor:pointer;background:#fafafa;}
#upload:hover .ipt_text{background: #f5f5f5;border-color: #ccc;z-index:-9;}
#upload #submit{width:90px;height:36px;margin:-1px 0 0 0;border-radius:3px;vertical-align: middle;}
#upload .up_file{position:absolute;left:0;top:0;bottom:0;right:0;width:260px;opacity:0;filter:alpha(opacity:0);cursor:pointer;}

/* 全屏写作 */
.annex{background:url(static/toolbar.png) no-repeat -199px 2px;font-size:0;display:block;width:22px;height:22px;padding:1px;cursor:pointer;position:absolute;right:70px;top:9px;}
.annex:hover{background:#eee url(static/toolbar.png) no-repeat -199px 2px;}
.annex_wind{display:none;position:relative;border-radius:3px;}
.annex_body:before{content:"";background:#000;opacity: 0.5;top:0;bottom:-10px;left:0;right:0;z-index:10;position:absolute}
.annex_body .annex_wind{display:block;position:fixed;background:#fff;width:400px;height:200px;padding:20px 20px 0 20px;top:50%;left:50%;margin:-98px -200px;z-index:11;}
.annex_body .annex_wind iframe{width:100%;height:100%;margin:-10px 0 0 0;padding:0;background:#fff;}
.annex_body .annex_off{font-size:18px;position:absolute;width:30px;line-height:30px;text-align:center;top:-10px;right:-10px;background:#f55;color:#fff;cursor:pointer;border-radius:100%;}

/* 设置 */
.tabs{position:relative;padding:52px 0 0 0;}
.tabs input[type=radio]{position:absolute;top:-9999px;left:-9999px;}
.tabs label{text-align:center;font-size:16px;background:#eee;cursor:pointer;}
.tabs label:hover{background:#ddd;}
.tabs .tab-content{display:none;font-size:15px;width:100%;background:#fff;font-size:16px;}
.tabs [id^=tab] + label{border-radius:100px;line-height:32px;}
.tabs [id^=tab]:checked + label{background:#2ae;color:#fff;}
.tabs .tab_buttom{width:80px;top:0;position:absolute!important;}
.tabs .tab_buttom1{left:0px;}
.tabs .tab_buttom2{left:100px;}
.tabs .tab_buttom3{left:200px;}
.tabs [id^=tab]:checked ~ [id^=tab-content]{display:block;}
.tabs .field_body{width:100%;}
.tabs .field_body input{max-width:160px;width:100%;border-radius:3px;}
.tabs hr{height:1px;border:0;background:#ddd;background-image:linear-gradient(to left,#fff,#ededed);margin:20px 0}

/* 登陆 */
#login_title{text-align:center;max-width:360px;padding:100px 0 0 0;margin:auto;font-size:36px;color:#2ae;position:relative;}
#login_title:after{content:"2";position:absolute;margin:-20px 0 0 -6px;border-radius:10px 10px 10px 0;font-size:12px;line-height:20px;padding:0 10px;background:#2ae;color:#fff;}
#login_form{max-width:360px;margin:20px auto 0;border-radius:30px}
#login_form_box{padding:20px;}
#login_form .textbox input{padding:0;width:100%;line-height:36px;padding:2px 10px;border:1px solid #eee;border-radius:3px;}
#login_form .textbox{margin-bottom:20px;}
#login_form .bottom{text-align:center;}
#login_form .button{padding:0 16px;margin:20px 0;background:#2ae;color:#fff;width:160px;line-height:38px;cursor:pointer;border-radius:100px}
#login_form .button:hover{background:#3cf;}

#footer{color:#888;width:100%;font-size:13px;margin:0 auto;padding:30px 0;text-align:center;border-top:1px solid #eee}

@media(max-width:960px){
#menu{width:100%;float:none;}
#menu_title{width:30%;text-align:left;padding:0 0 0 20px;margin:0;float:left;}
#menu ul{width:70%;float:right;text-align:right;}
#menu li{display:inline-block;text-align:center;max-width:60px;width:100%}
#menu ul a{line-height:72px;margin:0;}
#menu .current a:after{content:'';height:2px;width:100%;bottom:-1px;left:0;}
.edit_textbox{margin:0;}
.edit_textbox{line-height:36px;box-shadow:0 0 0 1px #ededed;border-radius:2px}
#content_box{width:100%;float:none;border:0;}
.admin_page_name{padding:0 0 12px 0;margin:0 0 10px 0;border-bottom:1px solid #eee;}
}
@media(max-width:500px){
.wmd-toolbar,.annex,.wmd-view,.wmd-type,.wmd-off{display:none!important}
.wmd-input{border-radius: 3px}
}